/*
------------------------------
no CSS for right now
------------------------------
*/
section {
  position: relative;
}

.active{
  background-color: #c70000;
}

#treeMapContainer > div {
  opacity: 0;
  position: absolute;
  top: 0;
}

#treeMapContainer img {
    width: 100%;
}

#treeMapContainer {
  height: 500px;
}

#treeMapContainer > div.active {
  opacity: 1;
  background-color: transparent;
}

.centered {
  display: table;
  margin: 20px auto;
}

.graph {
  width: 50%;
  margin: 0 auto;
}

.buttonsContainer {
  display: flex;
}

button {
  margin:0 auto;
  display:block;
  width: 50%;
}