/*
------------------------------
no CSS for right now
------------------------------
*/
section {
  position: relative;
}


.chart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.chart.active {
  opacity: 1;
}

#countyMapContainer {
  position: relative;
  width: 100%;
  height: 100%;
}