/*
------------------------------
no CSS for right now
------------------------------
*/
.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.card {
  background-color: antiquewhite;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

.card:hover {
  background-image: linear-gradient(
      rgba(157, 157, 243, 0.73),
      rgba(14, 14, 12, 0.519)
    ),
    url("https://raw.githubusercontent.com/juweek/contentModules/main/gridCards/profile.png");
}

.card header {
  font-weight: bold;
}

#myVideo {
  position: absolute;
  left: -60px;
  top: 0;
  width: auto;
  max-height: 100%;
  min-width: 150%;
}

.topArea {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  left: 0;
  padding: 10px;
}

.contentArea img {
  width: 100%;
  padding: 0;
}

.topArea {
  top: 0;
}

.modal-content {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
